@use "../../variables" as *;

.day-plan {
  ul {
    padding-left: 0;
    li {
      border: solid 1px;
      list-style-type: none;
    }
  }
}

.standard-plan {
  ul {
    padding-left: 0;
    li {
      border: solid 1px;
      list-style-type: none;
    }
  }
}
