@use "../../variables" as *;

.plan {
  ul li:nth-child(1) {
    background-color: #a19283;
    color: $white;
    padding: 20px 8px;
    font-size: $fontsize-l;
    font-weight: 700;
    line-height: 28.96px;
  }

  ul li:nth-child(2) {
    background-color: $gray_desertStorm;
    padding: 24px 0px;

    p:nth-child(1) {
      font-size: 40px;
      font-weight: 700;
      line-height: 57.92px;
      color: $orange_bistre;

      &::before {
        content: "¥";
        font-size: $fontsize-l;
        font-weight: 700;
        line-height: 28.96px;
      }
    }

    p:nth-child(2) {
      font-weight: 400;
      font-size: $fontsize-s;
      line-height: 20.27px;
      color: $black;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      padding: 20px 10px;
      display: grid;
      place-items: center; /* 要素を中央に配置 */
      border: 1px solid #dddddd;
      margin: 0 0 -1px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.plan:nth-child(2) {
  border: 4px solid #442606;

  ul li:nth-child(1) {
    background-color: #442606;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 28.96px;
  }

  ul li:nth-child(2) {
    background-color: $gray_desertStorm;
    color: $orange_bistre;
    padding: 24px 0px;

    p:nth-child(1) {
      font-size: 40px;
      font-weight: 700;
      color: $orange_bistre;
      padding: 0px 0px 16px 0px;
      line-height: 57.92px;

      &::before {
        content: "¥";
        font-size: $fontsize-l;
        line-height: 28.96px;
      }
    }

    p:nth-child(2) {
      font-weight: 400;
      font-size: $fontsize-s;
      color: $black;
      line-height: 20.27px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      padding: 20px 10px;
      display: grid;
      place-items: center; /* 要素を中央に配置 */
      border: 1px solid #dddddd;
      margin: 0 0 -1px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
