@use "../../variables" as *;

.card-image {
  clip-path: polygon(0% 100%, 0% 55%, 40% 0%, 100% 0%, 100% 100%);
  position: relative;
  width: 440px;
}

.card-title {
  display: flex;
  justify-content: flex-start;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 650;
  font-size: 20px;
  line-height: 29px;
  position: absolute;
}

.card-text {
  line-height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 0px 16px 0px 16px;
  font-size: 14px;
  width: 150px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.2s ease;
}

.card-btn:hover {
  background-color: #442606;
}

.con-btn {
  display: flex;
  justify-content: center;
}

.card-down {
  background-color: #f5f5f5;
  width: 440px;
  padding: 10px;
}
