@use "../../variables" as *;

.card-body {
  .card-box {
    overflow: hidden;
    margin: 0px;
    position: relative;
    width: 100%;

    &::before {
      content: "CONCEPT";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 100;
      display: inline-block;
      z-index: 10;
      color: $orange_bistre;
      font-weight: 700;
      font-size: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 150px;
      background-color: white; /* 三角形の色 */
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      transition: 0.5s all;
      pointer-events: none;
    }

    .card-img {
      width: 100%;
      overflow: hidden;
      transition: 0.2s all;
      transform-origin: center center;
      display: block;
    }
  }
  .card-down {
    background-color: $white_smoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    height: 250px;

    .card-text {
      display: flex;
      justify-content: center;
      font-size: 14px;
      line-height: 33px;
      font-weight: 400;
    }

    .btn-con {
      display: block;
      width: 150px;
      background: $black;
      color: $white;
      padding: 0px 16px 0px 16px;
      font-size: 14px;
      height: 80px;
      text-decoration: none;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      transition: all 0.2s ease;
      &:hover {
        background: $orange_bistre;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .card-box:hover .card-img {
    transform: scale(1.2);
  }
}
