@use "../../variables" as *;

.title {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 400px;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $black;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 100px;
}

.explain {
  font-family: $fontfamily-gothic;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $black;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  margin-left: 40px;
}

.second {
  margin-left: 30px;
}

.third {
  margin-left: 30px;
}
