@use "../../variables" as *;

.btn-con {
  background-color: $black;
  color: $white;
  padding: 0px 16px 0px 16px;
  font-size: 14px;
  width: 150px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.2s ease;

  @media screen and(min-width:$breakpoint-lg) {
    width: 200px;
    height: 55px;
  }

  @media screen and(max-width:$breakpoint-md) {
    width: 180px;
    height: 45px;
  }
}

.btn-con:hover {
  background: $orange_bistre;
}
